{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}
	{% trans "Checkout" %}
{% endblock %}

{% block content %}
	<h1>{% trans "Checkout" %}</h1>

	<div class="order-info">
		<h3>{% trans "Your order" %}</h3>
		<ul>
			{% for item in cart %}
				<li>
					{{ item.quantity }}X {{ item.product.name }}
					<span>${{ item.total_price|floatformat:2 }}</span>
				</li>
			{% endfor %}
			{% if cart.coupon %}
				<li>
					{% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
						"{{ code }}" ({{ discount }}% off)
					{% endblocktrans %}
					<span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
				</li>
			{% endif %}
		</ul>
		<p>{% trans "Total:" %} ${{ cart.get_total_price }}</p>
	</div>

	<form method="post" class="order-form">
		{{ form.as_p }}
		<p><input type="submit" value="{% trans "Place order" %}"></p>
		{% csrf_token %}
	</form>
{% endblock %}